//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
    @include hideElement;
    transition: 1s;

    @media screen and (min-width: 1024px) {
        width: fit-content; //小さくしたい
        margin-bottom: 50px;
        padding: 0 45px 0 3.5%;
    }

    &__container {
        display: flex;
        align-items: center;

        @media screen and (min-width: 1024px) {
            margin-bottom: 10px;
        }
    }

    &__link {
        padding: 10px;
        color: $wh;
        @include font-din($btnTxt);
    }

    &__copy {
        margin-left: 10px;
        @include font-din(1rem);
    }
}