//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    @include hideElement;
    transform: translateX(-50%);
    transition: 1s;

    @media screen and (min-width: 1024px) {
        left: 0;
        align-items: flex-start;
        width: fit-content;
        margin-bottom: 50px;
        padding: 0 45px 0 3.5%;
        transform: none;
    }

    &__container {
        display: flex;
        gap: 5px;
        margin-bottom: 10px;

        @media screen and (min-width: 1024px) {
            justify-content: flex-start;
        }
    }

    &__link {
        padding: 10px;
        color: $wh;
        @include font-din($pcNav);

        @media screen and (min-width: 1024px) {
            font-size: $btnTxt;
        }

    }

    &__copy {
        @include font-din(1rem);

        @media screen and (min-width: 1024px) {
            margin-left: 10px;
        }
    }
}