//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

//gnav用 設定
.gnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 86px 5% 0;
    // background: $bk;
    background: rgba(0, 0, 0, 0.94); ////つっかえ棒確認用 透かしナビゲーション
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    z-index: 5; //コンテンツより上、ヘッダー（ロゴ、ボタン）より下

    @media screen and (min-width: 768px) {
        padding-top: 158px;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 80px;
        padding-top: 45px;
        background: transparent;
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    &__nav {
        margin-bottom: 30px;

        @media screen and (min-width: 1024px) {
            display: flex;
            gap: 18px;
            align-items: center;
            margin-bottom: 0;
            margin-right: 21px;
        }
    }

    &__list {
        position: relative;
        left: -50%;
        opacity: 0;
        visibility: hidden;

        @media screen and (min-width: 1024px) {
            left: 0;
            opacity: 1;
            visibility: visible;
        }
    }

    &__link {
        position: relative;
        padding: 10px 0;
        color: $wh;
        @include font-din($spNav);
        line-height: 0.8;

        @media screen and (min-width: 768px) {
            padding: 20px 0;
            font-size: $tabNav;
        }

        @media screen and (min-width: 1024px) {
            padding: 10px;
            color: $bk;
            font-size: $pcNav;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 10px; //padding分
                display: block;
                width: calc(100% - 20px);
                height: 2px;
                background: $bk;
                transform: scale(0, 1);
                transform-origin: right top;
                transition: transform .4s;
            }

            &:hover::after {
                transform: scale(1, 1);
                transform-origin: left top;
            }
        }
    }

    &__unit {
        display: flex;
        align-items: center;
        gap: 20px;

        @media screen and (min-width: 1024px) {
            gap: 10px;
        }
    }

    &__icon {
        position: relative;
        left: -50%;
        @include flexCenter;
        width: 60px;
        height: 60px;

        @media screen and (min-width: 1024px) {
            left: 0;
            width: 34px;
            height: 34px;

            &:hover {
                .gnav__circle {
                    stroke-dasharray: 107 107;
                    //親要素に入れる
                }
            }
        }
    }

    &__iconLink {
        @include flexCenter;
    }

    &__twitter,
    &__git {
        width: 40px;
        height: auto;

        @media screen and (min-width: 1024px) {
            width: 20px;
            filter: invert(1); //単純反転
        }
    }

    &__svg {
        position: absolute;
        transform: rotate(-90deg);
        pointer-events: none;
        z-index: 10;
    }

    &__circle {
        fill: transparent;
        stroke: $bk;
        stroke-width: 2;
        stroke-dasharray: 0 107; //直径34*3.14
        transition: .3s;

        &:hover {
            stroke-dasharray: 107 107;
        }
    }
}

//TOPのみ、色が反転する設定
#top {
    .gnav {
        @media screen and (min-width: 1024px) {
            mix-blend-mode: difference;

            &__link {
                color: $wh;

                &::after {
                    background: $wh;
                    mix-blend-mode: difference; //////
                }
            }

            &__git,
            &__twitter {
                filter: invert(0);
                mix-blend-mode: difference;
            }

            &__circle {
                fill: transparent;
                stroke: $wh;
                mix-blend-mode: difference; //////
            }
        }
    }
}

//背景が黒いページの設定
#about-page,
#contact-page,
#thanks-page {
    .gnav {
        &__link {
            color: $wh;

            &::after {
                background: $wh;
            }
        }

        &__git,
        &__twitter {
            filter: invert(0);
        }

        &__circle {
            stroke: $wh;
        }
    }
}