// settingフォルダの変数を読み込みます

@use "../setting" as *;

//ハンバーガーメニュー
@keyframes rotateTop {
    50% {
        opacity: 0;
        transform: none;
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes rotateBottom {
    50% {
        opacity: 0;
        transform: none;
    }

    100% {
        transform: rotate(45deg);
    }
}

// mvcatchアニメーション
@keyframes fallTxt {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

//スクロールダウンバー(MV)
@keyframes scrollDown {
    0% {
        transform: scale(1, 0);
        transform-origin: center top;
    }

    20% {
        transform: scale(1, 1);
        transform-origin: center top;
    }

    60% {
        transform: scale(1, 1);
    }

    80% {
        transform: scale(1, 0);
        transform-origin: center bottom;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: center bottom;
    }
}

//フッター スクロールトップバー
@keyframes scrollTop {
    20% {
        top: 60px;
    }

    80% {
        top: -10px;
    }

    100% {
        top: -10px;
    }
}
