// settingフォルダの変数を読み込みます
@use "../setting" as *;

//全体ページ用
@keyframes slideNavList {
    30% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.7, 1);
        transform-origin: left top;
    }

    100% {
        left: 0;
        opacity: 1;
        visibility: visible;
        transform: scale(1, 1);
    }
}

@keyframes closeNav {
    0% {
        background: $wh;
        clip-path: circle(0% at center);
    }

    100% {
        background: $wh;
        clip-path: circle(100% at center);
    }
}

//topページ用
@keyframes rotateTxt {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


//workページ用
@keyframes workURL {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

//aboutページ用
@keyframes wordCircle {
    0% {
        opacity: 0;
        clip-path: circle(0% at center);
    }

    100% {
        opacity: 1;
        clip-path: circle(100% at center);
    }
}