// settingフォルダの変数を読み込みます
@use "../setting" as *;

//全体ページ用
@keyframes slideNavList {
    30% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.7, 1);
        transform-origin: left top;
    }

    100% {
        left: 0;
        opacity: 1;
        visibility: visible;
        transform: scale(1, 1);
    }
}

@keyframes closeNav {
    0% {
        background: $wh;
        clip-path: circle(0% at center);
    }

    100% {
        background: $wh;
        clip-path: circle(100% at center);
    }
}

//topページ用
@keyframes rotateCircle {
    0% {
        transform: none;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scrollCircle {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -380;
    }
}

@keyframes scrollCircleTab {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -654;
    }
}

@keyframes downLine {
    0% {
        transform: scaleY(0);
        transform-origin: center top;
    }

    50% {
        transform: scaleY(100%);
        transform-origin: center top;
    }

    51% {
        transform: scaleY(100%);
        transform-origin: center bottom;
    }

    100% {
        transform: scaleY(0);
        transform-origin: center bottom;
    }
}

@keyframes rotateTxt {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


//workページ用
@keyframes workURL {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

//aboutページ用
@keyframes wordCircle {
    0% {
        opacity: 0;
        clip-path: circle(0% at center);
    }

    100% {
        opacity: 1;
        clip-path: circle(100% at center);
    }
}

//お試し ローディング画面用
@keyframes loading {
    40% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

//お試し製作中 ローディング画面
@keyframes spinCircle1 {
    0% {
        transform: rotateZ(20deg) rotateY(0deg);
    }

    100% {
        transform: rotateZ(100deg) rotateY(360deg);
    }
}

@keyframes spinCircle2 {
    0% {
        transform: rotateZ(100deg) rotateX(0deg);
    }

    100% {
        transform: rotateZ(0deg) rotateX(360deg);
    }
}

@keyframes spinCircle3 {
    0% {
        transform: rotateZ(100deg) rotateX(-360deg);
    }

    100% {
        transform: rotateZ(-360deg) rotateX(360deg);
    }
}

//お試し製作中 オープニングアニメーション用
@keyframes OPAnimation {
    30% {
        transform: scale(6);
    }

    60% {
        transform: rotateZ(300deg) scale(1.1) translateY(5%);
    }

    70% {
        transform-origin: 40% 60%;
        transform: rotateZ(-60deg) scale(1.2) translateY(10%);
    }

    90% {
        transform-origin: 60% 40%;
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes logoSvg {
    0% {
        fill: transparent;
        stroke-dashoffset: 640px;
        opacity: 1;
    }

    30% {
        fill: transparent;
    }

    100% {
        stroke-width: 0;
        stroke-dashoffset: 0;
        opacity: 1;
    }
}