//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;


#work03-page {

    .wrapper {
        width: 90%;
        margin: 0 auto;
        color: $bk;
        background: $wh;
        font-size: $spTxt;
    }

    .work {
        // width: 90%;
        // margin: 0 auto;
        margin-bottom: 60px;
        padding-top: 86px;

        @media screen and (min-width: 768px) {
            padding-top: 118px;
        }

        @media screen and (min-width: 1024px) {
            width: 100%;
            margin-bottom: 120px;
            padding: 185px 166px 0;
        }

        &__pic {
            width: 100%;
            height: 60vh;
            margin-bottom: 40px;
            border-radius: 10px;
            overflow: hidden;
        }

        &__container--01 {
            margin-bottom: 60px;
        }

        &__box {
            margin-bottom: 20px;
        }

        &__ttl {
            @include font-din($spTtl);
        }

        &__type {
            margin-left: 10px;
            @include font-din(1rem);
        }

        &__txt {
            @include font-din(1rem);
        }

        &__link {
            color: $bk;
            @include font-din(1rem);
        }

        &__container--02 {
            margin-bottom: 80px;
        }

        &__dl {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        &__dt,
        &__dd {
            width: 43%;
            margin-bottom: 10px;
        }

        &__dt {
            margin-right: 40px;
        }

        &__span {
            margin-right: 6px;
            @include font-din(1rem);
        }
    }

    .about {
        margin-bottom: 80px;

        &__box {
            margin-bottom: 60px;
        }

        &__sub {
            margin-bottom: 5px;
            font-size: $spTxt;
            font-weight: $light;
        }

        &__span {
            margin-right: 6px;
            @include font-din(1rem);
        }

        &__design {
            width: 100%;
            height: 100%;
            padding: 20px;
            background: $bk;
            border-radius: 20px;
        }

        &__designSpan {
            color: $whk;
            @include font-din(1rem);
        }

    }

}