//フォントに関する変数を登録します

//フォントファミリー
$mincho: '游明朝', 'Noto Serif JP', sans-serif;
$crim: 'Crimson Text', serif;
$bothTxt: 'Crimson Text', '游明朝', 'Noto Serif JP', sans-serif;

//フォントサイズ
$txt: 0.75rem; //12px
$txt2: 0.8125rem; //13px
$txt3: 0.875rem; //14px
$txt4: 1rem; //16px
$ttl: 1.75rem; //28px