//フォントに関する変数を登録します

//フォントの設定
$noto: 'Noto Sans JP', sans-serif;
$para: paralucent, sans-serif;

//font-weight
$med: 500;
$bold: 700;
$heavy: 900;

//font-size
$pc-MvTtl: 7.5rem; //120
$tab-MvTtl: 4.5rem; //72
$sp-MvTtl: 3.5rem; //56

$pc-ttl: 4.125rem;
$tab-ttl: 3.875rem; //62
$tab-ttl2: 3.2rem; //52
$sp-Ttl: 3rem; //48
$sp-Ttl2: 2.25rem; //36

$pc-Catch: 1.875rem; //30
$tab-Catch: 1.75rem; //28
$sp-Catch: 1.25rem; //20
$sp-Catch2: 1.5rem; //24

$tab-txt: 0.75rem; //12

$menu: 1.125rem; //18
$num: 0.75rem; //12
$copy: 0.625rem; //10