// settingフォルダの変数を読み込みます

@use "../setting" as *;

///タイトル、ボタン、flexの設定
@mixin ttl($mb: 30px) {
    margin-bottom: $mb;
    font-size: $txt;
}

@mixin ttlBefore {
    display: block;
    font-size: $ttl;
    font-family: $crim;
    font-weight: 400;
}

@mixin headerBtn($transrate: 0) {
    position: absolute;
    display: block;
    width: 20px;
    height: 1px;
    background: $bk;
    transform: translateY($transrate);
    transition: .4s;
}

@mixin btnMore($padding: 12px) {
    position: relative;
    padding: $padding 0;
    font-family: $crim;
    text-align: center;
    border: 1px solid $bk;
    transition: .4s;
}

@mixin btnAfter {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 50px;
    height: 1px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: .5s;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// メディアクエリ用mixin
// タブレットサイズ
@mixin tab($min-width: 768px) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

// PCサイズ
@mixin pc($min-width: 1024px) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}