//フォントに関する変数を登録します

//font-famiry
$din: "din-condensed", sans-serif;
$noto: "Noto Sans JP", sans-serif;

//font-weight
$light: 300;
$regular: 400;

//font-size
$pcTtl: 6.25rem; //100
$tabTtl: 4.875rem; //78
$spTtl: 3.25rem; //52

$pcNav: 1.25rem; //20
$tabNav: 6.75rem; //108
$spNav: 4.5rem; //72

$pcSub: 2.5rem; //40
$tabSub: 2.25rem; //36
$spSub: 1.5rem; //24

$aboutWord: 7.5rem; //120
$dinTxt: 1.25rem; //20
$btnTxt: 1.125rem; //18
$spTxt: 0.8125rem; //13