//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

//全体ページ用
.slideOpenBtn {
    left: 100%;
    background: $wh;
    opacity: .1;
    visibility: hidden;
}

.closeBtnTop {
    transform: rotate(45deg) scale(1, 1);
}

.closeBtnBottom {
    transform: rotate(-45deg) scale(1, 1);
}

.logoInvert {
    filter: invert(0);
}

.viewNav {
    opacity: 1;
    visibility: visible;
}

.closeNav {
    &::after {
        animation: closeNav .3s linear;
    }
}

//Topページ用
#top {
    .isActive {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .rotateTxt {
        transform-origin: center center;
        animation: rotateTxt 80s linear infinite;
    }
}

//Aboutページ用
#about-page {
    .showCircle {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            animation: wordCircle 1s linear forwards;
        }
    }
}