//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {

    .isActive {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .rotateTxt {
        transform-origin: center center;
        animation: rotateTxt 80s linear infinite;
    }

}


//全体用
.slideBtn {
    left: 100%;
    opacity: 0;
}

.closeBtnTop {
    transform: rotate(45deg) scale(1, 1);
}

.closeBtnBottom {
    transform: rotate(-45deg) scale(1, 1);
}

.logoInvert {
    filter: invert(1);
}

.viewNav {
    opacity: 1;
    visibility: visible;
    transition: .4s;
}