// settingフォルダの変数を読み込みます

@use "../setting" as *;

@mixin hideElement {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@mixin sircle($width: 38vw, $height: 38vw) {
    width: $width;
    height: $height;
    border-radius: 50%;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-din($size: 2.5rem) {
    //40px
    font-size: $size;
    font-family: $din;
    font-weight: $regular;
    letter-spacing: 0.9;
}