//as *で読み込みファイル名を省略することができます
//各ファイルは必ず登録済みの変数を最初に読み込みます
@use "../global" as *;


//css 15時間ほど

#top {
    .mv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 30px);
        margin: 15px;
        background: url(../images/mv.jpg) center center / cover;
    }

    .topic {
        margin-bottom: 120px;
        padding: 140px 19% 0;

        &__cont {
            display: flex;
            justify-content: end;
            gap: 45px;
            margin-bottom: 75px;
        }

        &__ttl {
            margin-right: auto;
        }

        &__pic {
            margin-bottom: 35px;
        }

        &__date {
            margin-bottom: 10px;
            font-size: 13px;
        }

        &__txt {
            font-size: 15px;
        }

        //全ボタンスタイル統一
        &__btn {
            width: 173px;
            height: 50px;
            margin-left: 210px;
            border: 1px solid $txtColor;
        }

        &__more {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-left: 30px;
            font-size: $btn;
            font-family: $mont;
            overflow: hidden;
            z-index: 1;

            &::after {
                //ホバー時アニメーション用 丸が広がるスライド背景（今回はtransformを使ってみました）
                content: '';
                display: block;
                position: absolute;
                top: -85px; //(丸の大きさ２2０px/2)-(ボタンの高さの半分２５px)＝85pxで中間
                left: -20px; //隙間ができないよう少し左へ
                z-index: -1;
                width: 220px;
                height: 220px;
                background: $txtColor;
                border-radius: 50%;
                transform: scale(0, 0); //左の真ん中を原点に、中央から広がる丸に
                transform-origin: left 50%;
                transition: transform .5s;
            }

            &:hover {
                color: #fff;

                &::after {
                    transform: scale(1, 1);
                }
            }
        }

        &__arrow {

            //ボタン矢印用 span
            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 26px;
                right: 30px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(30deg);
                transition: all .4s;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 26px;
                right: 30px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(150deg);
                transition: all .4s;
            }
        }

        //矢印ホバー用設定
        .topic__more:hover {

            .topic__arrow::before,
            .topic__arrow::after {
                right: 20px; //矢印が右に10pxだけ動く
                background-color: #fff;
            }
        }
    }

    .concept {
        margin-bottom: 230px;

        &__ttl {
            margin-bottom: 90px;
            text-align: center;
        }

        &__cont--01 {
            display: flex;
            justify-content: space-between;
        }

        &__catch {
            align-self: center;
            font-size: 1.5rem;
            writing-mode: vertical-rl;
            letter-spacing: 0.3em;
            line-height: 2; //1行分開ける
        }

        &__pic--02 {
            width: 19%;
            align-self: end;
        }

        &__cont--02 {
            display: flex;
            justify-content: space-between;
            align-items: end;
            margin: 0 auto;
            margin-bottom: 115px;
            padding: 0 19%;
        }

        &__txt {
            margin-bottom: 50px;
            line-height: $lh;
        }

        &__span {
            display: block;
            margin-bottom: 8px;
        }

        //全ボタンスタイル統一 MORE編
        &__btn {
            width: 173px;
            height: 50px;
            border: 1px solid $txtColor;
        }

        &__more {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-left: 46px; //文字数に合わせ変更
            font-size: $btn;
            font-family: $mont;
            overflow: hidden;
            z-index: 1;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: -85px;
                left: -20px;
                z-index: -1;
                width: 220px;
                height: 220px;
                background: $txtColor;
                border-radius: 50%;
                transform: scale(0, 0);
                transform-origin: left 50%;
                transition: transform .5s;
            }

            &:hover {
                color: #fff;

                &::after {
                    transform: scale(1, 1);
                }
            }
        }

        &__pic--03 {
            width: 433px;
        }

        &__arrow {

            //ボタン矢印用 span
            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 26px;
                right: 30px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(30deg);
                transition: all .4s;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 26px;
                right: 30px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(150deg);
                transition: all .4s;
            }
        }

        .concept__more:hover {

            .concept__arrow::before,
            .concept__arrow::after {
                right: 20px; //矢印が右に10pxだけ動く
                background-color: #fff;
            }
        }

        &__pic--04 {
            position: relative;
            width: 62%;
            margin: 0 auto;
            z-index: 10; //浮かせた写真は１０で統一

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 48%;
                left: -32%;
                width: 100vw;
                height: 350px;
                background: $bgBlue;
                z-index: -10;
            }
        }
    }

    .menu {
        margin: 0 auto;
        padding: 0 19%;
        margin-bottom: 120px;

        &__ttl {
            margin-bottom: 90px;
            text-align: center;
        }

        &__cont {
            display: flex;
            justify-content: space-between;
            gap: 5%;
            margin-bottom: 50px;
        }

        &__pic {
            margin-bottom: 35px;
        }

        //全ボタンスタイル統一 MORE編
        &__btn {
            width: 173px;
            height: 50px;
            margin: 0 auto;
            border: 1px solid $txtColor;
        }

        &__more {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-left: 46px;
            font-size: $btn;
            font-family: $mont;
            overflow: hidden;
            z-index: 1;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: -85px;
                left: -20px;
                z-index: -1;
                width: 220px;
                height: 220px;
                background: $txtColor;
                border-radius: 50%;
                transform: scale(0, 0);
                transform-origin: left 50%;
                transition: transform .5s;
            }

            &:hover {
                color: #fff;

                &::after {
                    transform: scale(1, 1);
                }
            }
        }

        &__arrow {

            //ボタン矢印用 span
            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 26px;
                right: 30px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(30deg);
                transition: all .4s;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 26px;
                right: 30px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(150deg);
                transition: all .4s;
            }
        }

        .menu__more:hover {

            .menu__arrow::before,
            .menu__arrow::after {
                right: 20px; //矢印が右に10pxだけ動く
                background-color: #fff;
            }
        }
    }

    .other {
        margin: 0 auto;
        padding: 0 19%;
        margin-bottom: 220px;

        &__ttl {
            margin-bottom: 90px;
            text-align: center;
        }

        &__cont {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:nth-of-type(1) {
                margin-bottom: 160px;
            }
        }

        &__pic {
            max-width: 680px;
            width: 50%;
        }

        &__box {
            max-width: 450px;
            width: 45%;
        }

        &__salonttl,
        &__rentalttl {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 50px;
            font-size: $ttl;
            font-family: $mont;
            font-weight: normal;
            letter-spacing: 0.1em;
        }

        &__salonttl::before {
            content: '';
            display: block;
            width: 68px;
            height: 68px;
            background: url(../images/salonicon.svg) center center / cover;
        }

        &__rentalttl::before {
            content: '';
            display: block;
            width: 68px;
            height: 68px;
            background: url(../images/rentalicon.svg) center center / cover;
        }

        &__catch {
            margin-bottom: 30px;
            font-size: $sub;
            font-family: $mont;
        }

        &__txt {
            margin-bottom: 50px;
            line-height: $lh;
        }

        //全ボタンスタイル統一 MORE編
        &__btn {
            width: 173px;
            height: 50px;
            border: 1px solid $txtColor;
        }

        &__more {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-left: 46px;
            font-size: $btn;
            font-family: $mont;
            overflow: hidden;
            z-index: 1;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: -85px;
                left: -20px;
                z-index: -1;
                width: 220px;
                height: 220px;
                background: $txtColor;
                border-radius: 50%;
                transform: scale(0, 0);
                transform-origin: left 50%;
                transition: transform .5s;
            }

            &:hover {
                color: #fff;

                &::after {
                    transform: scale(1, 1);
                }
            }
        }

        &__arrow {

            //ボタン矢印用 span
            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 26px;
                right: 30px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(30deg);
                transition: all .4s;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 26px;
                right: 30px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(150deg);
                transition: all .4s;
            }
        }

        .other__more:hover {

            .other__arrow::before,
            .other__arrow::after {
                right: 20px; //矢印が右に10pxだけ動く
                background-color: #fff;
            }
        }
    }

    .visit {
        display: flex;
        justify-content: space-between;
        padding: 0 19%;
        margin-bottom: 110px;

        &__cont {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {

                .visit__ttl::before,
                .visit__ttl::after {
                    right: -40px; //右に矢印が10px移動
                }
            }
        }

        &__ttl {
            position: absolute;
            color: #fff;
            z-index: 10; //写真の上になるように

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 55%;
                right: -30px;
                width: 11px;
                height: 1px;
                background: #fff;
                transform: rotate(30deg);
                transition: all .4s;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 55%;
                right: -30px;
                width: 11px;
                height: 1px;
                background: #fff;
                transform: rotate(150deg);
                transition: all .4s;
            }
        }

        &__pic {
            max-width: 560px;
            overflow: hidden;
        }

        &__link {
            transition: all .4s;

            &:hover {
                transform: scale(1.1);
                //ホバーで写真を暗く
                filter: brightness(0.8);
            }
        }
    }

    .sns {
        margin-bottom: 140px;

        &__link {
            position: relative;
            width: fit-content;
            margin: 0 auto;
            padding: 10px;

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 2px;
                width: calc(100% - 20px);
                height: 1px;
                background: $txtColor;
                transform: scale(0, 1);
                transform-origin: center top;
                transition: all .4s;
            }

            &:hover {
                &::after {
                    transform: scale(1, 1);
                }

                .sns__arrow::before,
                .sns__arrow::after {
                    right: 5px;
                }
            }
        }

        &__ttl {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;

            &::before {
                content: '';
                display: block;
                width: 30px;
                height: 32px;
                background: url(../images/snsicon.svg) center center / cover;
            }
        }

        //丸い矢印ボタン
        &__arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30px;
            height: 30px;
            border: 1px solid $txtColor;
            border-radius: 50%;
            z-index: 1;

            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 16px;
                right: 8px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(30deg);
                transition: all .4s;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 16px;
                right: 8px;
                width: 11px;
                height: 1px;
                background: $txtColor;
                transform: rotate(150deg);
                transition: all .4s;
            }
        }

        &__slider {
            width: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
        }

        &__cont {
            display: flex;
            width: 100%;
            padding-top: 90px;
            animation: slider 60s infinite linear 1s both;
        }

        &__pic {
            width: calc(100vw / 6);
        }
    }
}

@keyframes slider {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}